* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v64_772 {
    width: 100%;
    height: 720px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_774 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_775 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v64_777 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v64_778 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v64_779 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_780 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v64_781 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v64_782 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_783 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v64_784 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v64_785 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v64_786 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_787 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v64_788 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v64_789 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_790 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v64_791 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v64_792 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_793 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v64_794 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_795 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_818 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 1112px;
    left: 0px;
    overflow: hidden;
  }
  .v64_842 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 673px;
    left: 2px;
    overflow: hidden;
  }
  .v64_744 {
    width: 100%;
    height: 195px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 0px;
    overflow: hidden;
  }
  .v64_1025 {
    width: 124px;
    height: 120px;
    background: rgba(132,168,169,1);
    opacity: 1;
    position: absolute;
    top: 242px;
    left: 893px;
    border-radius: 50%;
  }
  /* .name {
    color: #fff;
  } */
  .v64_1026 {
    width: 98px;
    height: 95px;
    background: rgba(132,168,169,1);
    opacity: 1;
    position: absolute;
    top: 253px;
    left: 93px;
    border-radius: 50%;
  }
  /* .name {
    color: #fff;
  } */
  .v64_749 {
    width: 347px;
    height: 373px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 225px;
    left: 613px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v64_915 {
    width: 198px;
    height: 21px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 520px;
    left: 707px;
    border: 1px solid rgba(146,180,179,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v64_902 {
    width: 127px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 269px;
    left: 707px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v64_903 {
    width: 127px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 318px;
    left: 707px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v64_904 {
    width: 198px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 370px;
    left: 707px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v64_905 {
    width: 194px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 420px;
    left: 707px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v64_906 {
    width: 187px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 470px;
    left: 706px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v64_907 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_909 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 321px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_910 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_911 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 420px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_912 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 470px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_914 {
    width: 18px;
    height: 18px;
    background: rgba(233,240,240,1);
    opacity: 1;
    position: absolute;
    top: 520px;
    left: 676px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v64_916 {
    width: 110px;
    color: rgba(136,134,134,1);
    position: absolute;
    top: 524px;
    left: 717px;
    font-family: Noto Sans;
    font-weight: Thin;
    font-size: 8px;
    opacity: 1;
    text-align: left;
  }
  .v64_918 {
    width: 80px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 242px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v64_919 {
    width: 230px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 265px;
    left: 315px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v64_934 {
    width: 180px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 323px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v64_936 {
    width: 30px;
    height: 50px;
    background: url("/img/오른쪽 꺽쇠.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 500px;
  }
  .v64_937 {
    width: 30px;
    height: 50px;
    background: url("/img/왼쪽 꺽쇠.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 431px;
  }
  .v64_938 {
    width: 25px;
    height: 5px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 593px;
    left: 373px;
    overflow: hidden;
  }
  .v64_939 {
    width: 5px;
    height: 5px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v64_940 {
    width: 5px;
    height: 5px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 20px;
    border-radius: 50%;
  }
  .v64_941 {
    width: 5px;
    height: 5px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 10px;
    border-radius: 50%;
  }
  .v64_642 {
    width: 190px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 405px;
    left: 320px;
    overflow: hidden;
  }
  .v64_643 {
    width: 190px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v64_947 {
    width: 70px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 516px;
    left: 969px;
    overflow: hidden;
  }
  .v64_948 {
    width: 68px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_949 {
    width: 68px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v64_950 {
    width: 68px;
    height: 30px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
  }
  .v64_951 {
    width: 61px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 8px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v298_21 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 850px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }