* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v102_1938 {
    width: 100%;
    height: 1013px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1939 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1940 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v102_1941 {
    width: 246px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 3px;
    overflow: hidden;
  }
  .v102_1943 {
    width: 60px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v102_1944 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v102_1945 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1946 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v102_1947 {
    width: 82px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 15px;
    overflow: hidden;
  }
  .v102_1948 {
    width: 82px;
    color: rgba(143,177,176,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1949 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v102_1950 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v102_1951 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v102_1952 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1953 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v102_1954 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v102_1955 {
    width: 67px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1956 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v102_1957 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v102_1958 {
    width: 115px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v102_1959 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v102_1960 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1961 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v102_1962 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 966px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1963 {
    width: 200px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 305px;
    overflow: hidden;
  }
  .v102_1964 {
    width: 200px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v102_1965 {
    width: 70px;
    color: rgba(132,168,169,1);
    position: absolute;
    top: 317px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1966 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 367px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1967 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 417px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1968 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 467px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1969 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1970 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 567px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1971 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 871px;
    left: 918px;
    overflow: hidden;
  }
  .v102_1972 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1973 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1974 {
    width: 55px;
    height: 30px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
  }
  .v102_1975 {
    width: 34px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: Noto Sans;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v102_1977 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1978 {
    height: 856px;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 244px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }
  .v102_2023 {
    width: 121px;
    height: 37px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 397px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1999 {
    width: 415px;
    height: 359px;
    opacity: 1;
    position: absolute;
    top: 348px;
    left: 558px;
    overflow: hidden;
  }
  .v102_2000 {
    width: 402px;
    height: 359px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 7px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v102_2001 {
    width: 415px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 39px;
    left: 35px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 10px;
    letter-spacing: 22px;
    opacity: 1;
    text-align: left;
  }
  .v102_2002 {
    width: 385px;
    position: absolute;
    top: 104px;
    left: 34px;
    font-size: 16px;
    letter-spacing: 21px;
    opacity: 1;
    text-align: left;
  }
  .v102_2003 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 151px;
    left: 28px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 16px;
    word-spacing: 34px;
    opacity: 1;
    text-align: left;
  }
  .v102_2004 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 197px;
    left: 28px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 16px;
    word-spacing: 34px;
    opacity: 1;
    text-align: left;
  }
  .v102_2005 {
    width: 390px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 240px;
    left: 28px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 16px;
    word-spacing: 34px;
    opacity: 1;
    text-align: left;
  }
  .v102_2006 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 16px;
    letter-spacing: 21px;
    opacity: 1;
    text-align: left;
  }
  .v102_2007 {
    width: 42px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 283px;
    left: 17px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v102_2008 {
    width: 5px;
    height: 5px;
    background: rgba(105,161,159,1);
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 36px;
    border-radius: 50%;
  }
  .v102_2009 {
    width: 5px;
    height: 5px;
    background: rgba(105,161,159,1);
    opacity: 1;
    position: absolute;
    top: 230px;
    left: 90px;
    border-radius: 50%;
  }
  .v102_2010 {
    width: 5px;
    height: 5px;
    background: rgba(105,161,159,1);
    opacity: 1;
    position: absolute;
    top: 268px;
    left: 262px;
    border-radius: 50%;
  }
  .v102_2011 {
    width: 5px;
    height: 5px;
    background: rgba(105,161,159,1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 317px;
    border-radius: 50%;
  }
  .v102_2012 {
    width: 5px;
    height: 5px;
    background: rgba(105,161,159,1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 260px;
    border-radius: 50%;
  }
  .v73_1497 {
    width: 110px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 313px;
    left: 562px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v102_2020 {
    width: 108px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 453px;
    left: 402px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v73_1618 {
    width: 7px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 331px;
    left: 949px;
    border: 3px solid rgba(77,118,123,1);
    transform: rotate(-89deg);
  }
  .v102_2015 {
    width: 110px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 313px;
    left: 320px;
    overflow: hidden;
  }
  .v102_2016 {
    width: 110px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v102_2018 {
    width: 70px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 453px;
    left: 320px;
    overflow: hidden;
  }
  .v102_2019 {
    width: 70px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v102_2021 {
    width: 90px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 777px;
    left: 320px;
    overflow: hidden;
  }
  .v102_2022 {
    width: 90px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v102_2017 {
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 354px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_2024 {
    width: 242px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 772px;
    left: 726px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_2025 {
    width: 113px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 772px;
    left: 593px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_2026 {
    width: 7px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 795px;
    left: 695px;
    border: 3px solid rgba(77,118,123,1);
    transform: rotate(-89deg);
  }
  .v102_2027 {
    width: 7px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 795px;
    left: 942px;
    border: 3px solid rgba(77,118,123,1);
    transform: rotate(-89deg);
  }
  .v102_2029 {
    width: 30px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 783px;
    left: 633px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v102_2030 {
    width: 31px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 782px;
    left: 825px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }