* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v101_1527 {
    width: 100%;
    height: 1492px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1528 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1529 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1530 {
    width: 246px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 548px;
    left: 3px;
    overflow: hidden;
  }
  .v101_1532 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v101_1533 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v101_1534 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1535 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v101_1536 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v101_1537 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1538 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v101_1539 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v101_1540 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v101_1541 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1542 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v101_1543 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v101_1544 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1545 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v101_1546 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v101_1547 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1548 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v101_1549 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1550 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1551 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 1445px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1552 {
    width: 200px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1553 {
    width: 200px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v101_1554 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 317px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1555 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 367px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1615 {
    width: 70px;
    color: rgba(132,168,169,1);
    position: absolute;
    top: 567px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1556 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 417px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1557 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 467px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1558 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v101_1565 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v101_1566 {
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 244px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }
  .v101_1567 {
    width: 56px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 420px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1568 {
    width: 56px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v101_1569 {
    width: 80px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 334px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1570 {
    width: 80px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v101_1571 {
    width: 56px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1572 {
    width: 56px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v101_1573 {
    width: 45px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 768px;
    left: 320px;
    overflow: hidden;
  }
  .v101_1574 {
    width: 45px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v101_1575 {
    width: 550px;
    height: 63px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 417px;
    left: 414px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1576 {
    width: 550px;
    height: 63px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 567px;
    left: 414px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1577 {
    width: 300px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 435px;
    left: 434px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v101_1578 {
    width: 90px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 494px;
    left: 417px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1579 {
    width: 79px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 644px;
    left: 417px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1580 {
    width: 85px;
    height: 16px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 522px;
    left: 414px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1581 {
    width: 85px;
    height: 16px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 414px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1582 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 523px;
    left: 420px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1583 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 673px;
    left: 420px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1584 {
    width: 62px;
    height: 16px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 522px;
    left: 508px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1585 {
    width: 62px;
    height: 16px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 672px;
    left: 508px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1586 {
    width: 45px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 523px;
    left: 517px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1587 {
    width: 45px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 673px;
    left: 517px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v101_1588 {
    width: 300px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 585px;
    left: 434px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v101_1589 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 771px;
    left: 417px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v101_1590 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 911px;
    left: 417px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v101_1591 {
    width: 457px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 323px;
    left: 456px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v101_1592 {
    width: 30px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 819px;
    left: 415px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1593 {
    width: 30px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 959px;
    left: 415px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1594 {
    width: 30px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 849px;
    left: 415px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1595 {
    width: 210px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 819px;
    left: 775px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1596 {
    width: 170px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 959px;
    left: 805px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1597 {
    width: 65px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 849px;
    left: 905px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v101_1598 {
    width: 547px;
    height: 113px;
    opacity: 1;
    position: absolute;
    top: 775px;
    left: 417px;
    border: 1px solid rgba(201,218,217,0.30000001192092896);
    overflow: hidden;
  }
  .v101_1599 {
    width: 126px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 1319px;
    left: 320px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1600 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1330px;
    left: 357px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1601 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 336px;
    left: 1044px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1602 {
    width: 115px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 347px;
    left: 1052px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1603 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 428px;
    left: 1044px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1605 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 579px;
    left: 1044px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1607 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 768px;
    left: 1044px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1667 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 1044px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v101_1604 {
    width: 89px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 439px;
    left: 1065px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1606 {
    width: 89px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 590px;
    left: 1065px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1608 {
    width: 95px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 779px;
    left: 1063px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1668 {
    width: 113px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 1051px;
    left: 1057px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v101_1250 {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 822px;
    left: 389px;
    overflow: hidden;
  }
  .v101_1609 {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 389px;
    overflow: hidden;
  }
  .v101_1612 {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 962px;
    left: 389px;
    overflow: hidden;
  }
  .v102_1653 {
    width: 80px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 1044px;
    left: 320px;
    overflow: hidden;
  }
  .v102_1654 {
    width: 80px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v102_1655 {
    width: 550px;
    height: 128px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 1092px;
    left: 414px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1675 {
    width: 99px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 529px;
    overflow: hidden;
  }
  .v102_1670 {
    width: 9px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1656 {
    width: 85px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 14px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1662 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 32px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1674 {
    width: 97px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 419px;
    overflow: hidden;
  }
  .v102_1669 {
    width: 9px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1657 {
    width: 85px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 12px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1661 {
    width: 37px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 11px;
    left: 43px;
    font-family: Noto Sans;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1663 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 30px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1676 {
    width: 102px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 640px;
    overflow: hidden;
  }
  .v102_1671 {
    width: 9px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1658 {
    width: 88px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 14px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1664 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 35px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1677 {
    width: 100px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 754px;
    overflow: hidden;
  }
  .v102_1672 {
    width: 9px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1659 {
    width: 88px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 12px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1665 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 35px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1678 {
    width: 98px;
    height: 38px;
    opacity: 1;
    position: absolute;
    top: 1040px;
    left: 866px;
    overflow: hidden;
  }
  .v102_1673 {
    width: 9px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 0px;
    overflow: hidden;
  }
  .v102_1660 {
    width: 85px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 13px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v102_1666 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 31px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v298_14 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 856px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }