* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v100_1037 {
    width: 100%;
    height: 791px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1038 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1039 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v100_1040 {
    width: 246px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 448px;
    left: 3px;
    overflow: hidden;
  }
  .v100_1042 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v100_1043 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v100_1044 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1045 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v100_1046 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v100_1047 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1048 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v100_1049 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v100_1050 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v100_1051 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1052 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v100_1053 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v100_1054 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1055 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v100_1056 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v100_1057 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1058 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v100_1059 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1060 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1061 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 995px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1062 {
    width: 200px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 320px;
    overflow: hidden;
  }
  .v100_1063 {
    width: 200px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v100_1064 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 317px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1065 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 367px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1066 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 417px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1067 {
    width: 70px;
    color: rgba(132,168,169,1);
    position: absolute;
    top: 467px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1068 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1621 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 567px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1069 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 901px;
    left: 914px;
    overflow: hidden;
  }
  .v100_1070 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1071 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1072 {
    width: 55px;
    height: 30px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
  }
  .v100_1073 {
    width: 34px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: Noto Sans;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v100_1075 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v100_1076 {
    height: 856px;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 244px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }
  .v100_1077 {
    width: 124px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 320px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_1078 {
    width: 123px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 451px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_1079 {
    width: 126px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 579px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_1080 {
    width: 125px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 710px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_1081 {
    width: 123px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 294px;
    left: 841px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_1082 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 305px;
    left: 342px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1083 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 305px;
    left: 485px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_1084 {
    width: 95px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 305px;
    left: 594px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1085 {
    width: 52px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 305px;
    left: 747px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1086 {
    width: 36px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 305px;
    left: 884px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_1087 {
    width: 365px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 367px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_1098 {
    width: 300px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 668px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v100_1088 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 535px;
    left: 529px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_1089 {
    width: 40px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 535px;
    left: 373px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_1090 {
    width: 60px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 535px;
    left: 690px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_353 {
    width: 43px;
    height: 80px;
    background: url("/img/냉장고.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 437px;
    left: 369px;
    overflow: hidden;
  }
  .v100_354 {
    width: 87px;
    height: 51px;
    background: url("/img/전자레인지.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 451px;
    left: 516px;
    overflow: hidden;
  }
  .v100_355 {
    width: 86px;
    height: 51px;
    background: url("/img/가스레인지.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 451px;
    left: 675px;
    overflow: hidden;
  }
  .v100_1097 {
    width: 40px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 535px;
    left: 873px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v100_361 {
    width: 52px;
    height: 80px;
    background: url("/img/정수기.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 442px;
    left: 864px;
    overflow: hidden;
  }
  .v298_10 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 856px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }