* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v104_2094 {
    width: 100%;
    height: 720px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2095 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2096 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v104_2099 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v104_2100 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v104_2101 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2102 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v104_2103 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v104_2104 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2105 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v104_2106 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v104_2107 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v104_2108 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2109 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v104_2110 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v104_2111 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2112 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v104_2113 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v104_2114 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2115 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v104_2116 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2117 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2118 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 673px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2119 {
    width: 200px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 320px;
    overflow: hidden;
  }
  .v104_2120 {
    width: 200px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v104_2127 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 598px;
    left: 918px;
    overflow: hidden;
  }
  .v104_2128 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2129 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2130 {
    width: 55px;
    height: 30px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
  }
  .v104_2131 {
    width: 34px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v104_2133 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v104_2135 {
    width: 80px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 304px;
    left: 320px;
    overflow: hidden;
  }
  .v104_2136 {
    width: 80px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v104_2138 {
    width: 263px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 701px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v104_2139 {
    width: 263px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 417px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v104_2144 {
    width: 38px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 311px;
    left: 448px;
    font-family: Noto Sans;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2145 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 311px;
    left: 817px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v104_2146 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 311px;
    left: 520px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v104_2059_1{
    width: 331px;
    color:red;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    position: absolute;
    top: 420px;
    left: 320px;
    opacity: 1;
    text-align: left;
  }
  .v104_2059 {
    width: 360px;
    position: absolute;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 12px;
    position: absolute;
    top: 440px;
    left: 320px;
    opacity: 1;
    text-align: left;
  }
  .v104_2060 {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    top: 535px;
    left: 320px;
    opacity: 1;
    text-align: left;
  }
  .v104_2152 {
    width: 31px;
    height: 28px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 529px;
    left: 580px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  /* .name {
    color: #fff;
  } */
  .v104_2050 {
    width: 255px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 360px;
    left: 425px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v104_2155 {
    width: 220px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 360px;
    left: 723px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v298_16 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 856px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }