* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v91_27 {
    width: 100%;
    height: 1157px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_29 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_30 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v100_30 {
    width: 246px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 348px;
    left: 3px;
    overflow: hidden;
  }
  .v91_32 {
    width: 50px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v91_33 {
    width: 712px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v91_34 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_35 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v91_36 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v91_37 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_38 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v91_39 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v91_40 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v91_41 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_42 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v91_43 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v91_44 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_45 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v91_46 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v91_47 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_48 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v91_49 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_50 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_51 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 1112px;
    left: 0px;
    overflow: hidden;
  }
  .v91_75 {
    width: 190px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 310px;
    overflow: hidden;
  }
  .v91_76 {
    width: 190px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v100_25 {
    width: 90px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 313px;
    left: 320px;
    overflow: hidden;
  }
  .v100_26 {
    width: 90px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_28 {
    width: 90px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 522px;
    left: 320px;
    overflow: hidden;
  }
  .v100_29 {
    width: 90px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_31 {
    width: 60px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 320px;
    overflow: hidden;
  }
  .v100_32 {
    width: 60px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_62 {
    width: 60px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 724px;
    left: 320px;
    overflow: hidden;
  }
  .v100_63 {
    width: 60px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_65 {
    width: 19px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 791px;
    left: 320px;
    overflow: hidden;
  }
  .v100_66 {
    width: 19px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_70 {
    width: 100px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 861px;
    left: 320px;
    overflow: hidden;
  }
  .v100_71 {
    width: 100px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v100_78 {
    width: 40px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 918px;
    left: 320px;
    overflow: hidden;
  }
  .v100_79 {
    width: 40px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v91_79 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 317px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_80 {
    width: 65px;
    color: rgba(132,168,169,1);
    position: absolute;
    top: 367px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_81 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 417px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_82 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 467px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_83 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 517px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v102_1616 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 567px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_84 {
    width: 31px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 987px;
    left: 884px;
    overflow: hidden;
  }
  .v91_85 {
    width: 31px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v95_3 {
    width: 31px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 1028px;
    left: 884px;
    overflow: hidden;
  }
  .v95_4 {
    width: 31px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v91_86 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 1005px;
    left: 914px;
    overflow: hidden;
  }
  .v91_87 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_88 {
    width: 55px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v91_89 {
    width: 55px;
    height: 30px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    overflow: hidden;
  }
  .v91_90 {
    width: 34px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 16px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_119 {
    width: 550px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 306px;
    left: 420px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_27 {
    width: 550px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 516px;
    left: 420px;
    border: 2px solid rgba(77,118,123,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_73 {
    width: 83px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 856px;
    left: 444px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_41 {
    width: 83px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 444px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_42 {
    width: 82px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 532px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_43 {
    width: 84px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 618px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_44 {
    width: 84px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 706px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_80 {
    width: 83px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 913px;
    left: 444px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_72 {
    width: 82px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 856px;
    left: 532px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_53 {
    width: 83px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 444px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_68 {
    width: 83px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 786px;
    left: 444px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_81 {
    width: 82px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 913px;
    left: 532px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_49 {
    width: 82px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 794px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_54 {
    width: 82px;
    height: 38px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 532px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_45 {
    width: 36px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 725px;
    left: 474px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_51 {
    width: 83px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 881px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_55 {
    width: 84px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 618px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_46 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 725px;
    left: 559px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_56 {
    width: 84px;
    height: 38px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 706px;
    border: 2px solid rgba(146,180,179,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v100_74 {
    width: 36px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 867px;
    left: 474px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_47 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 725px;
    left: 652px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_48 {
    width: 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 725px;
    left: 739px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_75 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 867px;
    left: 562px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_82 {
    width: 36px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 924px;
    left: 474px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_83 {
    width: 40px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 924px;
    left: 556px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_77 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 797px;
    left: 536px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_50 {
    width: 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 725px;
    left: 826px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_52 {
    width: 54px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 725px;
    left: 902px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_120 {
    width: 125px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 317px;
    left: 434px;
    font-family: Noto Sans;
    font-weight: Display Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_317 {
    width: 145px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 528px;
    left: 434px;
    font-family: Noto Sans;
    font-weight: Display Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_69 {
    width: 65px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 797px;
    left: 454px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_121 {
    width: 16px;
    height: 16px;
    opacity: 1;
    position: absolute;
    top: 318px;
    left: 932px;
    overflow: hidden;
  }
  .v91_123 {
    width: 360px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 363px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_57 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 459px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_58 {
    width: 34px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 668px;
    left: 562px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_59 {
    width: 56px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 635px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v100_60 {
    width: 40px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 668px;
    left: 730px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v91_124 {
    width: 85px;
    position: absolute;
    top: 393px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v91_124_1{
    width: 175px;
    position: absolute;
    top: 415px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    color: #69A19F;
    opacity: 1;
    text-align: left;
  }
  .v91_125 {
    width: 95px;
    position: absolute;
    top: 450px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v91_125_1{
    width: 175px;
    position: absolute;
    top: 472px;
    left: 320px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    color: #69A19F;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v100_61 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v100_64 {
    height: 856px;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 244px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }