* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v121_547 {
    width: 100%;
    height: 781px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v121_548 {
    width: 100%;
    height: 67px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v121_549 {
    width: 51px;
    height: 29px;
    background: url("/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 320px;
    overflow: hidden;
  }
  .v121_550 {
    width: 246px;
    height: 56px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 3px;
    overflow: hidden;
  }
  .v121_552 {
    width: 50px;
    color: rgba(146,180,179,1);
    position: absolute;
    top: 34px;
    left: 918px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_553 {
    width: 100%;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 299px;
    overflow: hidden;
  }
  .v121_554 {
    width: 118px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v121_555 {
    width: 118px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v121_556 {
    width: 82px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 21px;
    overflow: hidden;
  }
  .v121_557 {
    width: 82px;
    height:17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_558 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 118px;
    overflow: hidden;
  }
  .v121_559 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v121_560 {
    width: 55px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 47px;
    overflow: hidden;
  }
  .v121_561 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_562 {
    width: 142px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
  }
  .v121_563 {
    width: 142px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v121_564 {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 40px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_565 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 402px;
    overflow: hidden;
  }
  .v121_566 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid rgba(143,177,176,1);
    overflow: hidden;
  }
  .v121_567 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 22px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_568 {
    width: 155px;
    height: 18px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 557px;
    overflow: hidden;
  }
  .v121_569 {
    width: 155px;
    height: 18px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v121_570 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 23px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_571 {
    width: 100%;
    height: 47px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 734px;
    left: 0px;
    overflow: hidden;
  }
  .v121_572 {
    width: 190px;
    height: 49px;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 320px;
    overflow: hidden;
  }
  .v121_573 {
    width: 190px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v121_574 {
    width: 65px;
    color: rgba(132,168,169,1);
    position: absolute;
    top: 317px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_575 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 367px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v121_576 {
    width: 95px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 417px;
    left: 96px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  /* .name {
    color: #fff;
  } */
  .v121_578 {
    width: 100%;
    height: 9px;
    background: rgba(201,218,217,1);
    opacity: 1;
    position: absolute;
    top: 247px;
    left: 0px;
    overflow: hidden;
  }
  .v121_579 {
    height: 856px;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 244px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }
  .v121_580 {
    width: 644px;
    height: 82px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 318px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v121_581 {
    width: 644px;
    height: 164px;
    background: rgba(245,245,245,1);
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 318px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v121_582 {
    width: 240px;
    height: 45px;
    opacity: 1;
    position: absolute;
    top: 319px;
    left: 518px;
    overflow: hidden;
  }
  .v121_583 {
    width: 240px;
    color: rgba(77,118,123,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v121_584 {
    width: 235px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 0px;
    overflow: hidden;
  }
  .v121_585 {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v121_586 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 160px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  /* .v121_587 {
    width: 163px;
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 640px;
    border: 1px solid rgba(146,180,179,1);
  } */
  .v121_588 {
    width: 421px;
    height: 20px;
    opacity: 1;
    position: absolute;
    top: 425px;
    left: 364px;
    overflow: hidden;
  }
  .v121_589 {
    width: 110px;
    height: 20px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_590 {
    width: 28px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4px;
    left: 41px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v121_591 {
    width: 110px;
    height: 20px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 311px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_592 {
    width: 28px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4px;
    left: 352px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v121_593 {
    width: 269px;
    height: 210px;
    opacity: 1;
    position: absolute;
    top: 464px;
    left: 318px;
    overflow: hidden;
  }
  .v121_594 {
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 46px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_594_1{
    width: 240px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 46px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_595 {
    width: 240px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 197px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
  .v121_596 {
    width: 55px;
    color: rgba(102,102,102,1);
    position: absolute;
    top: 167px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_597 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 42px;
    left: 46px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_598 {
    width: 186px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 46px;
    overflow: hidden;
  }
  .v121_599 {
    width: 88px;
    height: 17px;
    background: rgba(211,225,225,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_600 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 5px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v121_601 {
    width: 88px;
    height: 17px;
    background: rgba(211,225,225,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 98px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_602 {
    width: 45px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 120px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v121_603 {
    width: 222px;
    height: 82px;
    opacity: 1;
    position: absolute;
    top: 464px;
    left: 675px;
    overflow: hidden;
  }
  .v121_604 {
    width: 222px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_604_1{
    width: 240px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_605 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 42px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_606 {
    width: 186px;
    height: 17px;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 0px;
    overflow: hidden;
  }
  .v121_607 {
    width: 88px;
    height: 17px;
    background: rgba(211,225,225,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_608 {
    width:75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_609 {
    width: 88px;
    height: 17px;
    background: rgba(211,225,225,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 98px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v121_610 {
    width: 45px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 2px;
    left: 120px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v121_611 {
    width: 644px;
    opacity: 1;
    position: absolute;
    top: 614px;
    left: 320px;
    border: 3px solid rgba(201,218,217,0.30000001192092896);
  }
  .v121_612 {
    width: 110px;
    height: 20px;
    opacity: 1;
    position: absolute;
    top: 658px;
    left: 852px;
    overflow: hidden;
  }
  .v121_613 {
    width: 110px;
    height: 20px;
    background: rgba(146,180,179,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v121_614 {
    width: 40px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3px;
    left: 36px;
    font-family: Noto Sans;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v298_22 {
    width: 75px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 34px;
    left: 850px;
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }