* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v104_2156 {
  width: 100%;
  height: 1363px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_2157 {
  width: 100%;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_2158 {
  width: 51px;
  height: 29px;
  background: url("/static/img/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 320px;
  overflow: hidden;
}
.v104_2161 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 918px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v104_2162 {
  width: 712px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 299px;
  overflow: hidden;
}
.v104_2163 {
  width: 118px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_2164 {
  width: 118px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(143,177,176,1);
  overflow: hidden;
}
.v104_2165 {
  width: 82px;
  height: 17px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
  overflow: hidden;
}
.v104_2166 {
  width: 82px;
  height:17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2167 {
  width: 142px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v104_2168 {
  width: 142px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(143,177,176,1);
  overflow: hidden;
}
.v104_2169 {
  width: 55px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v104_2170 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2171 {
  width: 142px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 260px;
  overflow: hidden;
}
.v104_2172 {
  width: 142px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(143,177,176,1);
  overflow: hidden;
}
.v104_2173 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 40px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2174 {
  width: 155px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 402px;
  overflow: hidden;
}
.v104_2175 {
  width: 155px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid rgba(143,177,176,1);
  overflow: hidden;
}
.v104_2176 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2177 {
  width: 155px;
  height: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 557px;
  overflow: hidden;
}
.v104_2178 {
  width: 155px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v104_2179 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2180 {
  width: 100%;
  height: 47px;
  background: rgba(201,218,217,1);
  opacity: 1;
  position: absolute;
  top: 1316px;
  left: 0px;
  overflow: hidden;
}
.v104_2181 {
  width: 200px;
  height: 49px;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 320px;
  overflow: hidden;
}
.v104_2182 {
  width: 200px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
/* .name {
  color: #fff;
} */
.v104_2190 {
  width: 100%;
  height: 9px;
  background: rgba(201,218,217,1);
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 0px;
  overflow: hidden;
}
.v104_2194 {
  width: 100px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 320px;
  overflow: hidden;
}
.v104_2195 {
  width: 100px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_5 {
  width: 12px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 926px;
  overflow: hidden;
}
.v109_6 {
  width: 12px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v121_226 {
  width: 12px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 847px;
  left: 926px;
  overflow: hidden;
}
.v121_227 {
  width: 12px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v109_2 {
  width: 60px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 419px;
  left: 548px;
  overflow: hidden;
}
.v109_3 {
  width: 60px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v121_213 {
  width: 65px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 548px;
  overflow: hidden;
}
.v121_214 {
  width: 65px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v104_2216 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 323px;
  left: 797px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v104_2287 {
  width: 183px;
  height: 215px;
  background: url("/static/img/13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v104_2297 {
  width: 183px;
  height: 215px;
  background: url("/static/img/14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v121_215 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 667px;
  left: 613px;
  font-family: Noto Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v104_2280 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 427px;
  left: 613px;
  font-family: Noto Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v121_216 {
  width: 127px;
  color: rgba(116,114,114,1);
  position: absolute;
  top: 697px;
  left: 551px;
  font-family: Noto Sans;
  font-weight: Display Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v121_217 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 758px;
  left: 551px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v104_2282 {
  width: 145px;
  color: rgba(116,114,114,1);
  position: absolute;
  top: 457px;
  left: 551px;
  font-family: Noto Sans;
  font-weight: Display Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
/* .name {
  color: #fff;
} */
.v104_2281 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 551px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
/* .name {
  color: #fff;
}
.name {
  color: #fff;
} */
.v121_232 {
  width: 618px;
  height: 215px;
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 320px;
  overflow: hidden;
}
.v121_229 {
  width: 12px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 606px;
  overflow: hidden;
}
.v121_230 {
  width: 12px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v121_221 {
  width: 65px;
  height: 27px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
  overflow: hidden;
}
.v121_222 {
  width: 65px;
  color: rgba(77,118,123,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v104_2292 {
  width: 183px;
  height: 215px;
  background: url("../img/15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v121_223 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 293px;
  font-family: Noto Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v121_224 {
  width: 118px;
  color: rgba(116,114,114,1);
  position: absolute;
  top: 38px;
  left: 231px;
  font-family: Noto Sans;
  font-weight: Display Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v121_225 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 99px;
  left: 231px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v121_233 {
  width: 644px;
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 320px;
  border: 3px solid rgba(201,218,217,0.30000001192092896);
}
.v121_234 {
  width: 644px;
  opacity: 1;
  position: absolute;
  top: 891px;
  left: 320px;
  border: 3px solid rgba(201,218,217,0.30000001192092896);
}
.v104_2301 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1201px;
  left: 320px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v121_236 {
  width: 126px;
  height: 38px;
  background: rgba(146,180,179,1);
  opacity: 1;
  position: absolute;
  top: 1182px;
  left: 812px;
  border: 2px solid rgba(146,180,179,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v121_237 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1193px;
  left: 836px;
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v298_17 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 856px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}