<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bed_living.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v100_181">
        <div class="v100_182"></div>
        <div class="v100_183"></div>
        <div class="v100_184"></div>
        <span class="v100_186">마이페이지</span>
        <div class="v100_187">
            <div class="v100_188">
                <div class="v100_189"></div>
                <div class="v100_190">
                    <span class="v100_191">이사 견적 내기</span>
                </div>
            </div>
            <div class="v100_192">
                <div class="v100_193"></div>
                <div class="v100_194">
                    <span class="v100_195">나눔 장터</span>
                </div>
            </div>
            <div class="v100_196">
                <div class="v100_197"></div>
                <span class="v100_198">고수의 꿀팁</span>
            </div>
            <div class="v100_199">
                <div class="v100_200"></div>
                <span class="v100_201">초보 이사러의 궁금증</span>
            </div>
            <div class="v100_202">
                <div class="v100_203"></div>
                <span class="v100_204">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v100_205"></div>
        <div class="v100_206">
            <span class="v100_207">짐 정보 입력</span>
        </div>
        <span class="v100_222">이사 예정일</span>
        <span class="v100_223">출발지 정보</span>
        <span class="v100_224">도착지 정보</span>
        <span class="v100_225">짐 정보 입력</span>
        <span class="v100_226">요청 사항</span>
        <span class="v102_1618">최종 리뷰</span>
        <div class="v100_231">
            <div class="v100_232">
                <div class="v100_233">
                    <div class="v100_234"></div>
                </div>
            </div>
            <span class="v100_235">다음</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v100_276"></div>
        <div class="v100_277"></div>
        <div class="v100_499"></div>
        <div class="v100_500"></div>
        <div class="v100_501"></div>
        <div class="v100_502"></div>
        <div class="v100_503"></div>
        <span class="v100_504">침실/거실 가구</span>
        <span class="v100_506">서재 가구</span>
        <span class="v100_507">디지털/생활 가전</span>
        <span class="v100_508">주방 가전</span>
        <span class="v100_509">기타</span>
        <span class="v100_521">해당 짐이 있다면 클릭해주세요. 클릭시 진하게 표시되며 선택됩니다.</span>
        <div class="v100_296"></div>
        <span class="v100_284">옷장 - 단품</span>
        <span class="v100_530">침대</span>
        <span class="v100_524">행거</span>
        <span class="v100_528">쇼파</span>
        <span class="v100_525">서랍장</span>
        <span class="v100_526">식탁/테이블</span>
        <span class="v100_527">화장대</span>
        <span class="v100_522">옷장 - 연결장</span>
        <span class="v100_523">시스템 행거</span>
        <div class="v100_304"></div>
        <div class="v100_297"></div>
        <div class="v100_298"></div>
        <div class="v100_299"></div>
        <div class="v100_300"></div>
        <div class="v100_301"></div>
        <div class="v100_302"></div>
        <div class="v100_529"></div>
        <span class="v100_1102">해당 짐에 아이콘이 없을 경우, 기타 란에서 직접 입력해주세요.</span>
        <span class="v298_4">로그아웃</span>
    </div>
</body>
</html>