
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoungCha</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/tip.css' %}">

</head>

<body>
    <header>
        <nav class>
            <a href="{% url 'home'%}">
                <img src="{% static 'img/logo.png' %}" class="logo">
            </a>
            <a href="{%url 'home'%}" class="side1">로그아웃</a>
            <a href="{%url 'mypage_mov'%}" class="side2">마이페이지</a>
            <ul class="nav-container">
                <li class="nav-item"><a href="{%url 'movingday'%}">이사 견적 내기</a></li>
                <li class="nav-item"><a href="{%url 'share' %}">나눔 장터</a></li>
                <li class="nav-item"><a href="{%url 'tip'%}">고수의 꿀팁</a></li>
                <li class="nav-item"><a href="{%url 'question' %}">초보 이사러의 궁금증</a></li>
                <li class="nav-item2"><a href="">우리 동네 이야기</a></li>
            </ul>
        </nav>
    </header>
    <h1>고수의 꿀팁</h1>
    <div class="sub-container">
        <p class="black">내 주변에 &nbsp;</p>
        <p class="green">고수 &nbsp;</p>
        <p class="black">들이 이렇게나 많아?</p>
        <button class="relevant">최신순</button>
    </div>
    <div class="search-box">
        <input type="text" class="search">
        <input type="image" class="search-btn" value="submit" src="../img/search.png">
    </div>
    <button onclick="window.location.href='tipwrite.html'" class="write">글쓰기</button>
    <div class="wrapper" onclick="window.location.href='tip_content1.html'">
        <p class="title">이삿짐 스스로 포장할 때 꿀팁:)</p>
        <p class="date">2022.06.11</p>
        <p class="count">조회 21</p>
        <img src="../img/heart.png" class="heart"><b class="views">20</b>
        <img src="../img/bookmark.png" class="bookmark"><b class="views">6</b>
    </div>
    <div class="wrapper">
        <p class="title">주말 이사시 전입신고 하는 방법!</p>
        <p class="date">2022.06.11</p>
        <p class="count">조회 18</p>
        <img src="../img/heart.png" class="heart"><b class="views">35</b>
        <img src="../img/bookmark.png" class="bookmark"><b class="views">58</b>
    </div>
    <div class="wrapper">
        <p class="title">각종 관리비 관련 정산 및 전출 예약법</p>
        <p class="date">2022.06.11</p>
        <p class="count">조회 16</p>
        <img src="../img/heart.png" class="heart"><b class="views">20</b>
        <img src="../img/bookmark.png" class="bookmark"><b class="views">27</b>
    </div>
    <div class="wrapper">
        <p class="title">페 가전제품 무료로 수거할 수 있는 꿀팁!!</p>
        <p class="date">2022.06.10</p>
        <p class="count">조회 30</p>
        <img src="../img/heart.png" class="heart"><b class="views">14</b>
        <img src="../img/bookmark.png" class="bookmark"><b class="views">12</b>
    </div>
    <div class="wrapper">
        <p class="title">이사 업체 선정은 이렇게!</p>
        <p class="date">2022.06.10</p>
        <p class="count">조회 20</p>
        <img src="../img/heart.png" class="heart"><b class="views">12</b>
        <img src="../img/bookmark.png" class="bookmark"><b class="views">06</b>
    </div>
    <img src="../img/left.png" class="left">
    <img src="../img/gcircle.png" class="gcircle">
    <img src="../img/circle.png" class="circle">
    <img src="../img/circle.png" class="circle">
    <img src="../img/circle.png" class="circle">
    <img src="../img/circle.png" class="circle">
    <img src="../img/right.png" class="right">
    <script src="../js/like.js"></script>

    <footer class="footer">

    </footer>
</body>
</html>
