{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/checklist_day.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v64_1263">
        <div class="v64_1264"></div>
        <div class="v64_1265"></div>
        {%endblock%}
        {%block content%}
        <span class="v64_1286">손쉬운 이사 견적</span>
        <div class="v64_1287"></div>
        <div class="v64_1288"></div>
        <div class="v64_1289"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_1295"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_1299"></div>
        <div class="v64_1300"></div>
        <div class="v64_1306"></div>
        <div class="v64_1307"></div>
        <div class="v64_1308"></div>
        <div class="v64_1309"></div>
        <div class="v64_1310"></div>
        <span class="v64_1312">추가 사항을 적어주세요.</span>
        <span class="v64_1313">체크리스트</span>
        <span class="v64_1314">이사 2~3일 전</span>
        <span class="v64_1315">체크리스트로 꼼꼼히 준비하세요!</span>
        <div class="v64_1316"></div>
        <div class="v64_1317"></div>
        <div class="v64_1318">
            <div class="v64_1319"></div>
            <div class="v64_1320"></div>
            <div class="v64_1321"></div>
        </div>
        <div class="v64_1324">
            <span class="v64_1325">현재 0/4 항목에 체크</span>
        </div><div class="v64_1326">
            <div class="v64_1327">
                <div class="v64_1328">
                    <div class="v64_1329"></div>
                </div></div><span class="v64_1330"><a href="{% url '항목 추가'%}"</span>
                
            </div>
            <!-- <div class="name"></div> -->
            <span class="v64_1146">가구 배치도 작성</span>
            <span class="v64_1147">선반, 커튼 철거</span>
            <span class="v64_1148">귀중품, 현금 별도 보관</span>
            <span class="v64_1149">가스시설 철거</span>
            <span class="v298_20">로그아웃</span>
        </div>
</body>
</html>
{%endblock%}