<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/checklist_Dday.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v64_1336">
        <div class="v64_1337"></div>
        <div class="v64_1338"></div>
        <span class="v64_1340">마이페이지</span>
        <div class="v64_1341">
            <div class="v64_1342">
                <div class="v64_1343"></div>
                <div class="v64_1344">
                    <span class="v64_1345">이사 견적 내기</span>
                </div>
            </div>
            <div class="v64_1346">
                <div class="v64_1347"></div>
                <div class="v64_1348">
                    <span class="v64_1349">나눔 장터</span>
                </div>
            </div>
            <div class="v64_1350">
                <div class="v64_1351"></div>
                <span class="v64_1352">고수의 꿀팁</span>
            </div>
            <div class="v64_1353">
                <div class="v64_1354"></div>
                <span class="v64_1355">초보 이사러의 궁금증</span>
            </div>
            <div class="v64_1356">
                <div class="v64_1357"></div>
                <span class="v64_1358">우리 동네 이야기</span>
            </div>
        </div>
        <!-- <span class="v64_1359"></span> -->
        <div class="v64_1360"></div>
        <div class="v64_1361"></div>
        <div class="v64_1362"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_1368"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_1372"></div>
        <div class="v64_1373"></div>
        <div class="v64_1374"></div>
        <div class="v64_1375"></div>
        <div class="v64_1376"></div>
        <div class="v64_1377"></div>
        <span class="v64_1379">추가 사항을 적어주세요.</span>
        <span class="v64_1380">체크리스트</span>
        <span class="v64_1381">이사 당일</span>
        <span class="v64_1382">체크리스트로 꼼꼼히 준비하세요!</span>
        <div class="v64_1383"></div>
        <div class="v64_1384"></div>
        <div class="v64_1385">
            <div class="v64_1386"></div>
            <div class="v64_1387"></div>
            <div class="v64_1388"></div>
        </div><div class="v64_1389">
            <span class="v64_1390">현재 0/3 항목에 체크</span>
        </div>
        <div class="v64_1391">
            <div class="v64_1392">
                <div class="v64_1393">
                    <div class="v64_1394"></div>
                </div>
            </div>
            <span class="v64_1395">항목 추가</span>
        </div>
        <!-- <div class="name"></div> -->
        <span class="v64_1232">이삿짐 확인, 정리</span>
        <span class="v64_1233">이사 요금 정산</span>
        <span class="v64_1234">전기, 가스, 수도 점검</span>
        <span class="v298_19">로그아웃</span>
    </div>
</body>
</html>