{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/checklist_week.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v64_772">
        <div class="v64_774"></div>
        <div class="v64_775"></div>
        {%endblock%}
        {%block content%}
        <span class="v64_818">손쉬운 이사 견적</span>
        <div class="v64_842"></div>
        <div class="v64_744"></div>
        <div class="v64_1025"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_1026"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_749"></div>
        <div class="v64_915"></div>
        <span class="v64_902">이사 대행업체 선정</span>
        <span class="v64_903">불필요한 물품 정리</span>
        <span class="v64_904">각종 통장, 신용카드 주소 변경</span>
        <span class="v64_905">공과금 및 아파트 관리비 납부</span>
        <span class="v64_906">신문, 우유 등 배달 중지 요청</span>
        <div class="v64_907"></div>
        <div class="v64_909"></div>
        <div class="v64_910"></div>
        <div class="v64_911"></div>
        <div class="v64_912"></div>
        <div class="v64_914"></div>
        <span class="v64_916">추가 사항을 적어주세요.</span>
        <span class="v64_918">체크리스트</span>
        <span class="v64_919">이사 1~2주 전</span>
        <span class="v64_934">체크리스트로 꼼꼼히 준비하세요!</span>
        <div class="v64_936"><a href="{% url 'check_day'%}"></a></div>
        <div class="v64_937"><a href="{% url 'check_dday'%}"></a></div>
        <div class="v64_938">
            <div class="v64_939"></div>
            <div class="v64_940"></div>
            <div class="v64_941"></div>
        </div>
        <div class="v64_642">
            <span class="v64_643">현재 0/5 항목에 체크</span>
        </div>
        <div class="v64_947">
            <div class="v64_948">
                <div class="v64_949">
                    <div class="v64_950"></div>
                </div>
            </div>
            <span class="v64_951">항목 추가</span>
        </div>
        <!-- <div class="name"></div> -->
        <span class="v298_21">로그아웃</span>
    </div>
</body>
</html>
{% endblock %}