{%extends 'head.html'%}
{% load static%}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/digital.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v100_741">
        <div class="v100_742"></div>
        <div class="v100_743"></div>
        <div class="v100_744"></div>
        {%endblock%}
        {%block content%}
        <div class="v100_765"></div>
        <div class="v100_766">
            <span class="v100_767">짐정보 입력</span>
        </div>
        <span class="v100_768">이사 예정일</span>
        <span class="v100_769">출발지 정보</span>
        <span class="v100_770">도착지 정보</span>
        <span class="v100_771">짐 정보 입력</span>
        <span class="v100_772">요청 사항</span>
        <span class="v102_1620">최종 리뷰</span>
        <div class="v100_773">
            <div class="v100_774">
                <div class="v100_775">
                    <div class="v100_776"></div>
                </div>
            </div>
            <span class="v100_777"><a href="{% url 'kit' %}">다음</a></span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v100_779"></div>
        <div class="v100_780"></div>
        <div class="v100_781"></div>
        <div class="v100_782"></div>
        <div class="v100_783"></div>
        <div class="v100_784"></div>
        <div class="v100_785"></div>
        <span class="v100_786">침실/거실 가구</span>
        <span class="v100_787">서재 가구</span>
        <span class="v100_788">디지털/생활 가전</span>
        <span class="v100_789">주방 가전</span>
        <span class="v100_790">기타</span>
        <span class="v100_791">해당 짐이 있다면 클릭해주세요. 클릭시 진하게 표시되며 선택됩니다.</span>
        <span class="v100_793">PC/데스크탑</span>
        <span class="v100_794">TV/모니터</span>
        <span class="v100_795">건조기</span>
        <span class="v100_797">공기 청정기</span>
        <span class="v100_800">세탁기</span
            ><span class="v100_801">에어컨</span>
            <div class="v100_321"></div>
            <div class="v100_329"></div>
            <div class="v100_323"></div>
            <div class="v100_331"></div>
            <div class="v100_332"></div>
            <div class="v100_333"></div>
            <span class="v100_1100">해당 짐에 아이콘이 없을 경우, 기타 란에서 직접 입력해주세요.</span>
            <span class="v298_9">로그아웃</span>
        </div>
</body>
</html>
{% endblock %}