<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/etc.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v100_1103">
        <div class="v100_1104"></div>
        <div class="v100_1105"></div>
        <div class="v100_1106"></div>
        <span class="v100_1108">마이페이지</span>
        <div class="v100_1109">
            <div class="v100_1110">
                <div class="v100_1111"></div>
                <div class="v100_1112">
                    <span class="v100_1113">이사 견적 내기</span>
                </div>
            </div>
            <div class="v100_1114">
                <div class="v100_1115"></div>
                <div class="v100_1116">
                    <span class="v100_1117">나눔 장터</span>
                </div>
            </div>
            <div class="v100_1118">
                <div class="v100_1119"></div>
                <span class="v100_1120">고수의 꿀팁</span>
            </div>
            <div class="v100_1121">
                <div class="v100_1122"></div>
                <span class="v100_1123">초보 이사러의 궁금증</span>
            </div>
            <div class="v100_1124">
                <div class="v100_1125"></div>
                <span class="v100_1126">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v100_1127"></div>
        <div class="v100_1128">
            <span class="v100_1129">짐정보 입력</span>
        </div>
        <span class="v100_1130">이사 예정일</span>
        <span class="v100_1131">출발지 정보</span>
        <span class="v100_1132">도착지 정보</span>
        <span class="v100_1133">짐 정보 입력</span>
        <span class="v100_1134">요청 사항</span>
        <span class="v102_1622">최종 리뷰</span>
        <div class="v100_1135">
            <div class="v100_1136">
                <div class="v100_1137">
                    <div class="v100_1138"></div>
                </div>
            </div>
            <span class="v100_1139">다음</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v100_1141"></div>
        <div class="v100_1142"></div>
        <div class="v100_1143"></div>
        <div class="v100_1144"></div>
        <div class="v100_1145"></div>
        <div class="v100_1146"></div>
        <div class="v100_1147"></div>
        <span class="v100_1148">침실/거실 가구</span>
        <span class="v100_1149">서재 가구</span>
        <span class="v100_1150">디지털/생활 가전</span>
        <span class="v100_1151">주방 가전</span>
        <span class="v100_1152">기타</span>
        <span class="v100_1153">해당 짐이 있다면 클릭해주세요. 클릭시 진하게 표시되며 선택됩니다.</span><span class="v100_1154">해당 짐에 아이콘이 없을 경우, 기타 란에서 직접 입력해주세요.</span>
        <span class="v100_1155">화분</span>
        <span class="v100_1156">거울</span>
        <span class="v100_1157">책</span>
        <span class="v102_1693">+</span>
        <span class="v100_1161">기타</span>
        <div class="v102_1682"></div>
        <div class="v102_1683"></div>
        <div class="v102_1684"></div>
        <div class="v102_1689"></div>
        <span class="v102_1690">직접 입력</span>
        <span class="v298_11">로그아웃</span>
    </div>
</body>
</html>