{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/final_review_fin.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v101_1527">
        <div class="v101_1528"></div>
        <div class="v101_1529"></div>
        <div class="v101_1530"></div>
        {%endblock%}
        {%block content%}
        <div class="v101_1551"></div>
        <div class="v101_1552">
            <span class="v101_1553">최종 리뷰</span>
        </div>
        <span class="v101_1554">이사 예정일</span>
        <span class="v101_1555">출발지 정보</span>
        <span class="v101_1615">최종 리뷰</span>
        <span class="v101_1556">도착지 정보</span>
        <span class="v101_1557">짐 정보 입력</span>
        <span class="v101_1558">요청 사항</span>
        <!-- <div class="name"></div> -->
        <div class="v101_1565"></div>
        <div class="v101_1566"></div>
        <div class="v101_1567">
            <span class="v101_1568">출발지</span>
        </div>
        <div class="v101_1569">
            <span class="v101_1570">이사예정</span>
        </div>
        <div class="v101_1571">
            <span class="v101_1572">도착지</span>
        </div>
        <div class="v101_1573">
            <span class="v101_1574">가구</span>
        </div>
        <div class="v101_1575"></div>
        <div class="v101_1576"></div>
        <span class="v101_1577">
        서울특별시 성북구 보문로 34다길 2 
        <br>(돈암동, 성신여자대학교 수정캠퍼스) 학생회관 215호</span>
        <span class="v101_1578">빌라 | 1.5룸 | 2층</span>
        <span class="v101_1579">빌라 | 1.5룸 | 4층</span>
        <div class="v101_1580"></div>
        <div class="v101_1581"></div>
        <span class="v101_1582">엘리베이터 있음</span>
        <span class="v101_1583">엘리베이터 있음</span>
        <div class="v101_1584"></div>
        <div class="v101_1585"></div>
        <span class="v101_1586">주차 가능</span>
        <span class="v101_1587">주차 가능</span>
        <span class="v101_1588">
        서울특별시 강북구 도봉로 76가길 5 
        <br>(미아동, 성신여자대학교 운정그린캠퍼스) B동 423호</span>
        <span class="v101_1589">침실/거실 가구</span>
        <span class="v101_1590">서재가구</span>
        <span class="v101_1591">2022. 07. 07  (목) 오전 10:00</span>
        <span class="v101_1592">침대</span>
        <span class="v101_1593">책상</span>
        <span class="v101_1594">행거</span>
        <span class="v101_1595">싱글/슈퍼싱글, 일반 프레임, 전동 침대</span>
        <span class="v101_1596">ㄱ 책상, 100cm 미만, 유리 없음</span>
        <span class="v101_1597">조립식 행거</span>
        <div class="v101_1598"></div>
        <div class="v101_1599"></div>
        <span class="v101_1600">수정 완료</span>
        <div class="v101_1601"></div>
        <span class="v101_1602">이사 예정일 수정하기</span>
        <div class="v101_1603"></div>
        <div class="v101_1605"></div>
        <div class="v101_1607"></div>
        <div class="v102_1667"></div>
        <span class="v101_1604">출발지 수정하기</span>
        <span class="v101_1606">도착지 수정하기</span>
        <span class="v101_1608">짐 정보 수정하기</span>
        <span class="v102_1668">요청 사항 수정하기</span>
        <div class="v101_1250"></div>
        <div class="v101_1609"></div>
        <div class="v101_1612"></div>
        <div class="v102_1653">
            <span class="v102_1654">요청사항</span>
        </div>
        <div class="v102_1655"></div>
        <div class="v102_1675">
            <div class="v102_1670"></div>
            <div class="v102_1656"></div>
            <span class="v102_1662">꼼꼼해요</span>
        </div>
        <div class="v102_1674">
            <div class="v102_1669"></div>
            <div class="v102_1657"></div>
            <span class="v102_1661">원룸</span>
            <span class="v102_1663">반려동물</span>
        </div>
        <div class="v102_1676">
            <div class="v102_1671"></div>
            <div class="v102_1658"></div>
            <span class="v102_1664">친절해요</span>
        </div>
        <div class="v102_1677">
            <div class="v102_1672"></div>
            <div class="v102_1659"></div>
            <span class="v102_1665">추가금 x</span>
        </div>
        <div class="v102_1678">
            <div class="v102_1673"></div>
            <div class="v102_1660"></div>
            <span class="v102_1666">시간 엄수</span>
        </div>
        <span class="v298_14">로그아웃</span>
    </div>
</body>
</html>
{%endblock%}