<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/final_review.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v101_1163">
        <div class="v101_1164"></div>
        <div class="v101_1165"></div>
        <div class="v101_1166"></div>
        <span class="v101_1168">마이페이지</span>
        <div class="v101_1169">
            <div class="v101_1170">
                <div class="v101_1171"></div>
                <div class="v101_1172">
                    <span class="v101_1173">이사 견적 내기</span>
                </div>
            </div>
            <div class="v101_1174">
                <div class="v101_1175"></div>
                <div class="v101_1176">
                    <span class="v101_1177">나눔 장터</span>
                </div>
            </div>
            <div class="v101_1178">
                <div class="v101_1179"></div>
                <span class="v101_1180">고수의 꿀팁</span>
            </div>
            <div class="v101_1181">
                <div class="v101_1182"></div>
                <span class="v101_1183">초보 이사러의 궁금증</span>
            </div>
            <div class="v101_1184">
                <div class="v101_1185"></div>
                <span class="v101_1186">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v101_1187"></div>
        <div class="v101_1188">
            <span class="v101_1189">최종 리뷰</span>
        </div>
        <span class="v101_1190">이사 예정일</span>
        <span class="v101_1191">출발지 정보</span>
        <span class="v101_1192">도착지 정보</span>
        <span class="v101_1193">짐 정보 입력</span>
        <span class="v101_1194">요청 사항</span>
        <span class="v102_1623">최종 리뷰</span>
        <div class="v101_1195">
            <div class="v101_1196">
                <div class="v101_1197">
                    <div class="v101_1198"></div>
                </div>
            </div>
            <span class="v101_1199">다음</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v101_1201"></div>
        <div class="v101_1202"></div>
        <div class="v101_1436">
            <span class="v101_1437">출발지</span>
        </div>
        <div class="v101_1507">
            <span class="v101_1508">이사예정</span>
        </div>
        <div class="v101_1498">
            <span class="v101_1499">도착지</span>
        </div>
        <div class="v101_1509">
            <span class="v101_1510">가구</span>
        </div>
        <div class="v102_1624">
            <span class="v102_1625">요청사항</span>
        </div>
        <div class="v101_1459"></div>
        <div class="v101_1500"></div>
        <div class="v102_1626"></div>
        <span class="v101_1367">
        서울특별시 성북구 보문로 34다길 2 
        <br>(돈암동, 성신여자대학교 수정캠퍼스) 학생회관 215호</span>
        <span class="v101_1372">빌라 | 1.5룸 | 2층</span>
        <span class="v101_1502">빌라 | 1.5룸 | 4층</span>
        <div class="v101_1373"></div>
        <div class="v101_1503"></div>
        <span class="v101_1374">엘리베이터 있음</span>
        <span class="v101_1504">엘리베이터 있음</span>
        <div class="v101_1375"></div>
        <div class="v101_1505"></div>
        <span class="v101_1376">주차 가능</span>
        <span class="v101_1506">주차 가능</span>
        <span class="v101_1361">
        서울특별시 강북구 도봉로 76가길 5 
        <br>(미아동, 성신여자대학교 운정그린캠퍼스) B동 423호</span>
        <span class="v101_1511">침실/거실 가구</span>
        <span class="v101_1516">서재가구</span>
        <span class="v101_1363">2022. 07. 07  (목) 오전 10:00</span>
        <span class="v101_1260">침대</span>
        <span class="v101_1517">책상</span>
        <span class="v101_1512">행거</span>
        <span class="v101_1265">싱글/슈퍼싱글, 일반 프레임, 전동 침대</span>
        <span class="v101_1519">ㄱ 책상, 100cm 미만, 유리 없음</span>
        <span class="v101_1513">조립식 행거</span>
        <div class="v101_1522"></div>
        <div class="v101_1525"></div>
        <span class="v101_1526">수정 하기</span>
        <div class="v102_1628"></div>
        <div class="v102_1651"></div>
        <div class="v102_1681"></div>
        <div class="v102_1629"></div>
        <div class="v102_1630"></div>
        <div class="v102_1631"></div>
        <span class="v102_1632">원룸</span>
        <span class="v102_1634">꼼꼼해요</span>
        <span class="v102_1652">반려동물</span>
        <span class="v102_1635">친절해요</span>
        <span class="v102_1636">추가금 x</span>
        <span class="v102_1637">시간 엄수</span>
        <span class="v101_1308">누락된 짐이 없음을 확인했습니다.</span>
        <!-- <div class="name"></div> -->
        <span class="v101_1312">사전에 협의되지 않은 품목에 대해서는 추가 비용이 발생될 수 있습니다.</span>
        <span class="v101_1312_1">혹수 누락된 큰 짐이 없는지 다시 한 번 확인해주세요</span>
        <span class="v298_13">로그아웃</span>
    </div>
</body>
</html>