<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/kitchen.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v100_1037">
        <div class="v100_1038"></div>
        <div class="v100_1039"></div>
        <div class="v100_1040"></div>
        <span class="v100_1042">마이페이지</span>
        <div class="v100_1043">
            <div class="v100_1044">
                <div class="v100_1045"></div>
                <div class="v100_1046">
                    <span class="v100_1047">이사 견적 내기</span>
                </div>
            </div>
            <div class="v100_1048">
                <div class="v100_1049"></div>
                <div class="v100_1050">
                    <span class="v100_1051">나눔 장터</span>
                </div>
            </div>
            <div class="v100_1052">
                <div class="v100_1053"></div>
                <span class="v100_1054">고수의 꿀팁</span>
            </div>
            <div class="v100_1055">
                <div class="v100_1056"></div>
                <span class="v100_1057">초보 이사러의 궁금증</span>
            </div>
            <div class="v100_1058">
                <div class="v100_1059"></div>
                <span class="v100_1060">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v100_1061"></div>
        <div class="v100_1062">
            <span class="v100_1063">짐정보 입력</span>
        </div>
        <span class="v100_1064">이사 예정일</span>
        <span class="v100_1065">출발지 정보</span>
        <span class="v100_1066">도착지 정보</span>
        <span class="v100_1067">짐 정보 입력</span>
        <span class="v100_1068">요청 사항</span>
        <span class="v102_1621">최종 리뷰</span>
        <div class="v100_1069">
            <div class="v100_1070">
                <div class="v100_1071">
                    <div class="v100_1072"></div>
                </div>
            </div>
            <span class="v100_1073">다음</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v100_1075"></div>
        <div class="v100_1076"></div>
        <div class="v100_1077"></div>
        <div class="v100_1078"></div>
        <div class="v100_1079"></div>
        <div class="v100_1080"></div>
        <div class="v100_1081"></div>
        <span class="v100_1082">침실/거실 가구</span>
        <span class="v100_1083">서재 가구</span>
        <span class="v100_1084">디지털/생활 가전</span>
        <span class="v100_1085">주방 가전</span>
        <span class="v100_1086">기타</span>
        <span class="v100_1087">해당 짐이 있다면 클릭해주세요. 클릭시 진하게 표시되며 선택됩니다.</span>
        <span class="v100_1098">해당 짐에 아이콘이 없을 경우, 기타 란에서 직접 입력해주세요.</span>
        <span class="v100_1088">전자레인지</span>
        <span class="v100_1089">냉장고</span>
        <span class="v100_1090">가스레인지</span>
        <div class="v100_353"></div>
        <div class="v100_354"></div>
        <div class="v100_355"></div>
        <span class="v100_1097">정수기</span>
        <div class="v100_361"></div>
        <span class="v298_10">로그아웃</span>
    </div>
</body>
</html>