{% extends 'head.html' %}
{% load static %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/lib.css' %}">
    <title>YoungCha</title>
</head>

<body>
    <div class="v100_672">
        <div class="v100_673"></div>
        <div class="v100_674"></div>
        <div class="v100_675"></div>
        {%endblock%}
        {% block content %}
        <div class="v100_696"></div>
        <div class="v100_697">
            <span class="v100_698">짐 정보 입력</span>
        </div>
        <span class="v100_699">이사 예정일</span>
        <span class="v100_700">출발지 정보</span>
        <span class="v100_701">도착지 정보</span>
        <span class="v100_702">짐 정보 입력</span>
        <span class="v100_703">요청 사항</span>
        <span class="v102_1619">최종 리뷰</span>
        <div class="v100_704">
            <div class="v100_705">
                <div class="v100_706">
                    <div class="v100_707"></div>
                </div>
            </div>
            <span class="v100_708"><a href="{% url 'digital' %}">다음</a></span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v100_710"></div>
        <div class="v100_711"></div>
        <div class="v100_712"></div>
        <div class="v100_713"></div>
        <div class="v100_714"></div>
        <div class="v100_715"></div>
        <div class="v100_716"></div>
        <span class="v100_717">침실/거실 가구</span>
        <span class="v100_718">서재 가구</span>
        <span class="v100_719">디지털/생활 가전</span>
        <span class="v100_720">주방 가전</span>
        <span class="v100_721">기타</span>
        <span class="v100_722">해당 짐이 있다면 클릭해주세요. 클릭시 진하게 표시되며 선택됩니다.</span>
        <span class="v100_724">의자</span>
        <span class="v100_725">책상</span>
        <span class="v100_731">책장</span>
        <div class="v100_334"></div>
        <div class="v100_330"></div>
        <div class="v100_328"></div>
        <span class="v100_1101">해당 짐에 아이콘이 없을 경우, 기타 란에서 직접 입력해주세요.</span>
        <span class="v298_8">로그아웃</span>
    </div>
</body>
</html>
{% endblock %}