{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{%static 'css/move_type.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v104_2094">
        <div class="v104_2095"></div>
        <div class="v104_2096"></div>
        {%endblock%}
        {%block content%}
        <div class="v104_2118"></div>
        <div class="v104_2119">
            <span class="v104_2120">이사 형태</span>
        </div>
        <div class="v104_2127">
            <div class="v104_2128">
                <div class="v104_2129">
                    <div class="v104_2130"></div>
                </div>
            </div>
            <span class="v104_2131">다음</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v104_2133"></div>
        <div class="v104_2135">
            <span class="v104_2136">이사종류</span>
        </div>
        <div class="v104_2138"></div>
        <div class="v104_2139"></div>
        <span class="v104_2144">원룸</span>
        <span class="v104_2145">차량만</span>
        <span class="v104_2146">포장이사</span>
        <span class="v104_2059_1"> 중요!</span>
        <span class="v104_2059">
        고객님 필수 진행 사항
        <br>이사 전까지 귀중품 및 고가의 상품은 별도로 체크/보관 해야합니다.
        <br>운반된 짐의 파손이나 분실여부를 확인합니다.
        <br>도착지에서 가구와 짐이 배치될 곳을 안내합니다.
        <br>완료된 이사를 기사님과 함께 검수합니다.
    </span>
    <span class="v104_2060">‘고객님 필수 진행 사항’ 안내를 확인하였습니다.</span>
    <div class="v104_2152"></div>
    <!-- <div class="name"></div> -->
    <span class="v104_2050">포장, 운반, 이동, 정리 등 기사님이 모든 이사 과정을 진행</span>
    <span class="v104_2155">이사짐 이동만 진행 (이사를 위한 차량만 제공)</span>
    <span class="v298_16">로그아웃</span>
</div>
</body>
</html>
{% endblock %}