<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/movingQuote_des.css">
    <title>YoungCha</title>
</head>
<body>
    <body>
        <div class="v100_84">
            <div class="v100_85"></div>
            <div class="v100_86"></div>
            <div class="v100_87"></div>
            <span class="v100_89">마이페이지</span>
            <div class="v100_90">
                <div class="v100_91">
                    <div class="v100_92"></div>
                    <div class="v100_93">
                        <span class="v100_94">이사 견적 내기</span>
                    </div>
                </div>
                <div class="v100_95">
                    <div class="v100_96"></div>
                    <div class="v100_97">
                        <span class="v100_98">나눔 장터</span>
                    </div>
                </div>
                <div class="v100_99">
                    <div class="v100_100"></div>
                    <span class="v100_101">고수의 꿀팁</span>
                </div>
                <div class="v100_102">
                    <div class="v100_103"></div>
                    <span class="v100_104">초보 이사러의 궁금증</span>
                </div>
                <div class="v100_105">
                    <div class="v100_106"></div>
                    <span class="v100_107">우리 동네 이야기</span>
                </div>
            </div>
            <div class="v100_108"></div>
            <div class="v100_109">
                <span class="v100_110">도착지 정보</span>
            </div>
            <div class="v100_111">
                <span class="v100_112">주소 설정</span>
            </div>
            <div class="v100_113">
                <span class="v100_114">상세주소</span>
            </div>
            <div class="v100_115">
                <span class="v100_116">집형태</span>
            </div>
            <div class="v100_117">
                <span class="v100_118">방구조</span>
            </div>
            <div class="v100_119">
                <span class="v100_120">층</span>
            </div>
            <div class="v100_121">
                <span class="v100_122">엘레베이터 </span>
            </div>
            <div class="v100_123">
                <span class="v100_124">주차</span>
            </div>
            <span class="v100_125">이사 예정일</span>
            <span class="v100_126">출발지 정보</span>
            <span class="v100_127">도착지 정보</span>
            <span class="v100_128">짐 정보 입력</span>
            <span class="v100_129">요청 사항</span>
            <div class="v100_130">
                <span class="v100_131">다음</span>
            </div>
            <div class="v100_132">
                <span class="v100_133">다음</span>
            </div>
            <div class="v100_134">
                <div class="v100_135">
                    <div class="v100_136">
                        <div class="v100_137"></div>
                    </div>
                </div>
                <span class="v100_138">다음</span>
            </div>
            <div class="v100_139"></div>
            <div class="v100_140"></div>
            <div class="v100_141"></div>
            <div class="v100_142"></div>
            <div class="v100_143"></div>
            <div class="v100_144"></div>
            <div class="v100_145"></div>
            <div class="v100_146"></div>
            <div class="v100_147"></div>
            <div class="v100_148"></div>
            <div class="v100_149"></div>
            <div class="v100_150"></div>
            <div class="v100_151"></div>
            <div class="v100_152"></div>
            <div class="v100_153"></div>
            <span class="v100_154">있음</span>
            <div class="v100_155"></div>
            <span class="v100_156">없음</span>
            <span class="v100_157">원룸</span>
            <div class="v100_158"></div>
            <span class="v100_159">가능</span>
            <span class="v100_160">1.5룸</span>
            <span class="v100_161">불가능</span>
            <span class="v100_162">층</span>
            <span class="v100_163">2룸</span>
            <span class="v100_164">3룸</span>
            <span class="v100_165">지번, 도로명, 건물 검색</span>
            <span class="v100_166">상세주소 입력 (동/호수 등)</span>
            <span class="v100_167">숫자만 입력</span>
            <div class="v100_168"></div>
            <span class="v100_169">아래와 같은 조합으로 검색하시면 더욱 정확한 결과가 검색 됩니다.</span>
            <span class="v100_170">빌라/연립</span>
            <span class="v100_171">주택</span>
            <span class="v100_172">오피스텔</span>
            <span class="v100_173">아파트</span>
            <span class="v100_174">4룸</span>
            <span class="v100_175">5룸 이상</span>
            <span class="v100_176">도로명 + 건물번호</span>
            <span class="v100_176_1">예) 보문로 34다길 2, 도봉로 76가길 55</span>
            <span class="v100_177">지역명(동/리) + 번지</span>
            <span class="v100_177_1">예) 돈암동 173-1, 미아동 147</span>
            <!-- <div class="name"></div> -->
            <div class="v100_179"></div>
            <div class="v100_180"></div>
            <span class="v102_1617">최종 리뷰</span>
        </div>
</body>
</html>