{% extends 'base.html'%}
{% load static%}
{%block head%}
    <link rel="stylesheet" href="{% static 'css/movingQuote_des.css' %}">
    <title>YoungCha</title>
{%endblock%}
{%block content%}
    <h1>도착지 정보</h1>
    <div class="line"></div>

    <section>
        <div class="vertical-container">
            <li class="date">이사 예정일</li>
            <div class="box-line">
                <li class="movingQuote_start">출발지 정보</li>
            </div>
            <li class="movingQuote_des">도착지 정보</li>
            <li class="info">짐 정보 입력</li>
            <li class="requests">요청 사항</li>
            <li class="review">최종 리뷰</li>
        </div>
        <div class="line-vertical"></div>   
    </section>

    <section class="section-addr">
        <div class="addr1">
            <span class="txt">주소 설정</span>
            <input type="text"  class="input" placeholder="지번, 도로명 주소를 입력해주세요">
        </div>
        <div class="addr2">
            <span class="txt">상세 주소</span>
            <input type="text" class="input" placeholder="상세 주소 입력(동/호수 입력)">
        </div>
    </section>

    <div class="select1">
        <span class="txt">집형태</span>
        <button class="btn">빌라/연립</button>
        ​<button class="btn1">주택</button>
        <button class="btn1">오피스텔</button>
        <button class="btn1">아파트</button>
    </div>
    <div class="select">
        <span class="txt">방구조</span>
        <button class="btn">원룸</button>
        <button class="btn1">1.5룸</button>
        ​<button class="btn1">2룸</button>
        <button class="btn1">3룸</button>
        <button class="btn1">4룸</button>
        <button class="btn1">5룸</button>
    </div>
    <div class="select">
        <span class="txt">층</span>
        <input type="text" class="floor" placeholder="숫자만 입력">
        <span>층</span>
    </div>
    <div class="select">
        <span class="txt">엘리베이터</span>
        <button class="btn2">있음</button>
        ​<button class="btn1">없음</button>
    </div>
    <div class="select">
        <span class="txt">주차</span>
        <button class="btn3">가능</button>
        ​<button class="btn1">불가능</button>
    </div>

    <div class="bottom-box">
        <button class="return" onclick="window.location.href='{% url 'movingquote_start' %}'">이전</button>
        <form method="post">
        {% csrf_token %}
        <button class="next" onclick="window.location.href='{% url 'movingdata' %}'">다음</button>
        </form>
    </div>
    <footer class="footer">

    </footer>
    <script src="{% static 'js/movingQute_start.js/' %}"></script>
</body>
</html>
{%endblock%}