<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/movingQuote_start.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v91_27">
        <div class="v91_29"></div>
        <div class="v91_30"></div>
        <div class="v100_30"></div>
        <span class="v91_32">마이페이지</span>
        <div class="v91_33">
            <div class="v91_34">
                <div class="v91_35"></div>
                <div class="v91_36">
                    <span class="v91_37">이사 견적 내기</span>
                </div>
            </div>
            <div class="v91_38">
                <div class="v91_39"></div>
                <div class="v91_40">
                    <span class="v91_41">나눔 장터</span>
                </div>
            </div>
            <div class="v91_42">
                <div class="v91_43"></div>
                <span class="v91_44">고수의 꿀팁</span>
            </div>
            <div class="v91_45">
                <div class="v91_46"></div>
                <span class="v91_47">초보 이사러의 궁금증</span>
            </div><div class="v91_48">
                <div class="v91_49"></div>
                <span class="v91_50">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v91_51"></div>
        <div class="v91_75">
            <span class="v91_76">출발지 정보</span>
        </div>
        <div class="v100_25">
            <span class="v100_26">주소 설정</span>
        </div>
        <div class="v100_28">
            <span class="v100_29">상세주소</span>
        </div>
        <div class="v100_31">
            <span class="v100_32">집형태</span>
        </div>
        <div class="v100_62">
            <span class="v100_63">방구조</span>
        </div>
        <div class="v100_65">
            <span class="v100_66">층</span>
        </div>
        <div class="v100_70">
            <span class="v100_71">엘레베이터 </span>
        </div>
        <div class="v100_78">
            <span class="v100_79">주차</span>
        </div>
        <span class="v91_79">이사 예정일</span>
        <span class="v91_80">출발지 정보</span>
        <span class="v91_81">도착지 정보</span>
        <span class="v91_82">짐 정보 입력</span>
        <span class="v91_83">요청 사항</span>
        <span class="v102_1616">최종 리뷰</span>
        <div class="v91_84">
            <span class="v91_85">다음</span>
        </div>
        <div class="v95_3">
            <span class="v95_4">다음</span>
        </div>
        <div class="v91_86">
            <div class="v91_87">
                <div class="v91_88">
                    <div class="v91_89"></div>
                </div>
            </div>
            <span class="v91_90">다음</span>
        </div>
        <div class="v91_119"></div>
        <div class="v100_27"></div>
        <div class="v100_73"></div>
        <div class="v100_41"></div>
        <div class="v100_42"></div>
        <div class="v100_43"></div>
        <div class="v100_44"></div>
        <div class="v100_80"></div>
        <div class="v100_72"></div>
        <div class="v100_53"></div>
        <div class="v100_68"></div>
        <div class="v100_81"></div>
        <div class="v100_49"></div>
        <div class="v100_54"></div>
        <span class="v100_45">원룸</span>
        <div class="v100_51"></div>
        <div class="v100_55"></div>
        <span class="v100_46">1.5룸</span>
        <div class="v100_56"></div>
        <span class="v100_74">있음</span>
        <span class="v100_47">2룸</span>
        <span class="v100_48">3룸</span>
        <span class="v100_75">없음</span>
        <span class="v100_82">가능</span>
        <span class="v100_83">불가능</span>
        <span class="v100_77">층</span>
        <span class="v100_50">4룸</span>
        <span class="v100_52">5룸 이상</span>
        <span class="v91_120">지번, 도로명, 건물 검색</span>
        <span class="v91_317">상세주소 입력 (동/호수 등)</span>
        <span class="v100_69">숫자만 입력</span>
        <div class="v91_121"></div>
        <span class="v91_123">아래와 같은 조합으로 검색하시면 더욱 정확한 결과가 검색 됩니다.</span>
        <span class="v100_57">빌라/연립</span>
        <span class="v100_58">주택</span>
        <span class="v100_59">오피스텔</span>
        <span class="v100_60">아파트</span>
        <span class="v91_124">도로명 + 건물번호 </span>
        <span class="v91_124_1">예) 보문로 34다길 2, 도봉로 76가길 55</span>
        <span class="v91_125">지역명(동/리) + 번지 </span>
        <span class="v91_125_1">예) 돈암동 173-1, 미아동 147</span>
        <!-- <div class="name"></div> -->
        <div class="v100_61"></div>
        <div class="v100_64"></div>
    </div>
</body>
</html>