{% extends 'head.html' %}
{% load static %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/movingDay.css'%}">
    <script></script>
        
    <title>YoungCha</title>
</head>
<body>
{%endblock%} 
{%block content%}
    <div class="v102_1962"></div>
    <div class="v102_1963">
        <span class="v102_1964">이사 예정일</span>
    </div>

    <!--사이드바-->
    <span class="v102_1965">이사 예정일</span>
    <span class="v102_1966">출발지 정보</span>
    <span class="v102_1967">도착지 정보</span>
    <span class="v102_1968">짐 정보 입력</span>
    <span class="v102_1969">요청 사항</span>
    <span class="v102_1970">최종 리뷰</span>

    <div class="v102_1971">
        <div class="v102_1972">
            <div class="v102_1973">
                <div class="v102_1974"></div>
            </div>
        </div>
        <span class="v102_1975"><a href="{% url 'movingquote_start' %}">다음</a></span>
    </div>   
    <div class="v102_1977"></div>
    <div class="v102_1978"></div>
    <div class="v102_2023"></div>
    <div class="v102_1999">
        <div class="v102_2000"></div>
        <div id="calendarForm"></div>
    </div>
    <!--캘린더 바로 위-->

    <span class="year-month-date"></span>
    <div class="v102_2015">
        <span class="v102_2016">이사 예정일</span>
    </div>
    <div class="v102_2018">
        <span class="v102_2019">선택일</span>
    </div>
    <div class="v102_2021">
        <span class="v102_2022">이사 시간</span>
    </div>
    <span class="v102_2017">달을 선택하고 날짜를 선택해주세요.</span>
    <div class="v102_2024"></div>
    <div class="v102_2025"></div>
    <div class="v102_2026"></div>
    <div class="v102_2027"></div>
    <span class="v102_2029">오전</span>
    <span class="v102_2030">10:00</span>
</div>
<script src="{% static 'js/calendar.js' %}"></script>
</body>

{%endblock%}
