{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/mypage_review.css'%}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v121_732">
        <div class="v121_733"></div>
        <div class="v121_734"></div>
        {%endblock%}
        {%block content%}
        <div class="v121_756"></div>
        <div class="v121_757">
            <span class="v121_758">리뷰작성</span>
        </div>
        <!-- <div class="name"></div> -->
        <div class="v121_763"></div>
        <div class="v121_814"></div>
        <span class="v121_815">이사 종류</span>
        <span class="v123_1271">키워드 </span>
        <span class="v121_823">기사님</span>
        <span class="v121_816">내  용</span>
        <span class="v121_817">이곳에 글을 작성해주세요. (최소 10글자 이상 입력해주세요.)</span>
        <div class="v123_1260"></div>
        <div class="v123_1261"></div>
        <div class="v123_1262"></div>
        <div class="v123_1263"></div>
        <div class="v123_1264"></div>
        <span class="v123_1265">원룸</span>
        <span class="v123_1266">꼼꼼해요</span>
        <span class="v123_1267">반려동물</span>
        <span class="v123_1268">친절해요</span>
        <span class="v123_1269">추가금 x</span>
        <span class="v123_1270">시간 엄수</span>
        <div class="v121_818">
            <div class="v121_819">
                <div class="v121_820">
                    <div class="v121_821"></div>
                </div>
            </div>
            <span class="v121_822">등록</span>
        </div>
        <span class="v121_824">이진성 기사님</span>
        <div class="v121_825"></div>
        <div class="v121_826"></div>
        <span class="v121_827">포장 이사</span>
        <span class="v121_828">차량만</span>
        <span class="v298_24">로그아웃</span>
    </div>
</body>
</html>
{%endblock%}