<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mypagepost.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v121_151">
        <div class="v121_152"></div>
        <div class="v121_153"></div>
        <div class="v121_154"></div>
        <span class="v121_156">마이페이지</span>
        <div class="v121_157">
            <div class="v121_158">
                <div class="v121_159"></div>
                <div class="v121_160">
                    <span class="v121_161">이사 견적 내기</span>
                </div>
            </div>
            <div class="v121_162">
                <div class="v121_163"></div>
                <div class="v121_164">
                    <span class="v121_165">나눔 장터</span>
                </div>
            </div>
            <div class="v121_166">
                <div class="v121_167"></div>
                <span class="v121_168">고수의 꿀팁</span>
            </div>
            <div class="v121_169">
                <div class="v121_170"></div>
                <span class="v121_171">초보 이사러의 궁금증</span>
            </div>
            <div class="v121_172">
                <div class="v121_173"></div>
                <span class="v121_174">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v121_175"></div>
        <div class="v121_176">
            <span class="v121_177">마이페이지</span>
        </div>
        <span class="v121_178">나의 이사</span>
        <span class="v121_179">게시글</span>
        <span class="v121_180">체크리스트</span>
        <!-- <div class="name"></div> -->
        <div class="v121_182"></div>
        <div class="v121_183"></div>
        <div class="v66_94">
            <div class="v66_92"></div>
            <span class="v66_93">내가 쓴 글</span>
        </div>
        <div class="v66_109">
            <div class="v66_110"></div>
            <span class="v66_111">좋아요 표시한 글</span>
        </div>
        <div class="v121_616">
            <div class="v66_96"></div>
            <div class="v66_97">
                <span class="v66_98">이사 피해에 대한 보험처리도 되나요?</span>
                <span class="v66_99">2022.07.28</span>
                <span class="v66_108">초보이사러의 궁금증</span>
            </div>
            <div class="v66_101">
                <div class="v66_102"></div>
                <div class="v66_103"></div>
                <span class="v66_104">20</span>
                <span class="v66_105">14</span>
                <span class="v66_106">6</span>
                <div class="v66_107"></div>
            </div>
        </div>
        <div class="v121_617">
            <div class="v121_618"></div>
            <div class="v121_619">
                <span class="v121_620">돈암 시장 코너 돌아서 있는 만두집 대존맛</span>
                <span class="v121_621">2022.06.28</span>
                <span class="v121_622">우리동네 이야기</span>
            </div>
        </div>
        <div class="v66_113">
            <div class="v66_120">
                <div class="v66_122"></div>
                <span class="v66_123">80</span>
                <span class="v66_125">55</span>
            </div>
        </div>
        <div class="v66_129"></div>
        <div class="v121_630">
            <div class="v121_631"></div>
            <div class="v121_632">
                <span class="v121_633">이삿짐 스스로 포장할 때 꿀팁 :)</span>
                <span class="v123_1272">스크랩한 글이 없습니다.</span>
                <span class="v121_634">2022.06.11</span>
                <span class="v121_635">고수의 꿀팁</span>
            </div>
        </div>
        <div class="v121_641"></div>
        <span class="v121_642">7</span>
        <div class="v66_142">
            <div class="v66_143"></div>
            <span class="v66_144">스크랩한 글</span>
        </div>
        <span class="v298_23">로그아웃</span>
    </div>
</body>
</html>