

{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/divide_content1.css' %}">           
{% endblock %}
{% block content %}
    <h1>나눔 장터</h1>
    <div class="sub-container">
        <p class="green">쓸모</p>
        <p class="black">없는 &nbsp;</p>
        <p class="black">물건도 &nbsp;</p>
        <p class="black">나누면 &nbsp;</p>
        <p class="green">쓸모</p>
        <p class="black">있다!!</p>
    </div>
    <div class="search-box">

    </div>
    <img src="{{ share_detail.photo.url }}" class="img">
    <h2>{{ share_detail.title }}</h2>
    <p class="sub-info1">{{ share_detail.count }}</p>
    <p class="sub-info2">{{ share_detail.date }}</p>
    <br>    <br>    <br>    <br>
    <!-- <img src="../img/heart.png" class="heart"><b class="views">2</b>
    <img src="../img/balloon.png" class="balloon"><b class="views">4</b>
    <img src="../img/bookmark.png" class="bookmark"><b class="views">1</b> -->
    <div class="bottom">
        <button class="comment-title1">댓글</button>
        <button class="comment-title2">최신순</button>
    </div>
    <form method="POST" action="{%  url 'sharecreate_comment' share_detail.id %}">
        {% csrf_token %}
        {{ commnet_form }}
        <!-- <input class="input" type="text" placeholder="댓글을 입력해주세요"> -->
        <button class="itemAdd">등록</button>
    </form>
   
    <section>
        {% for sharecomment in share_detail.sharecomment_set.all %}
        <ul class="items">
            <li class="item">
                <p>{{ sharecomment }}</p>
            </li>
        </ul>
        {% endfor %}
    </section>

    <!-- <script src="{% static 'js/comment.js' %}"></script> -->
        <!-- 댓글 삭제인듯 -->
    <footer class="footer">

    </footer>
</body>
</html>

{% endblock %}