{%extends 'head.html' %}
{%load static%}
{%block head%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/step_fin.css' %}">
    <title>YoungCha</title>
</head>
<body>
    <div class="v121_375">
        <div class="v121_376"></div>
        <div class="v121_377"></div>
        {%endblock%}
        {%block content%}
        <div class="v121_398"></div>
        <div class="v121_399">
            <span class="v121_400">이사 견적 내기의 모든 단계를 마쳤습니다.</span>
        </div>
        <!-- <div class="name"></div>
        <div class="name"></div> -->
        <span class="v121_421">이제 이사 형태와 기사님을 알아보러 갈까요?</span>
        <div class="v121_422">
            <div class="v121_423">
                <div class="v121_424">
                    <div class="v121_425"></div>
                </div>
            </div>
            <span class="v121_426">다음</span>
        </div>
        <span class="v298_15">로그아웃</span>
    </div>
</body>
</html>
{%endblock%}