<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/worker_review.css">
    <title>YoungCha</title>
</head>
<body>
    <div class="v121_304">
        <div class="v121_305"></div>
        <div class="v121_306"></div>
        <span class="v121_308">마이페이지</span>
        <div class="v121_309">
            <div class="v121_310">
                <div class="v121_311"></div>
                <div class="v121_312">
                    <span class="v121_313">이사 견적 내기</span>
                </div>
            </div>
            <div class="v121_314">
                <div class="v121_315"></div>
                <div class="v121_316">
                    <span class="v121_317">나눔 장터</span>
                </div>
            </div>
            <div class="v121_318">
                <div class="v121_319"></div>
                <span class="v121_320">고수의 꿀팁</span>
            </div>
            <div class="v121_321">
                <div class="v121_322"></div>
                <span class="v121_323">초보 이사러의 궁금증</span>
            </div>
            <div class="v121_324">
                <div class="v121_325"></div>
                <span class="v121_326">우리 동네 이야기</span>
            </div>
        </div>
        <div class="v121_328"></div>
        <div class="v121_453">
            <div class="v121_340"></div>
            <div class="v121_481"></div>
            <div class="v121_474"></div>
            <div class="v121_450"></div>
            <div class="v121_452"></div>
        </div>
        <div class="v121_454">
            <span class="v121_455">이진성 기사님</span>
        </div>
        <div class="v121_456">
            <span class="v121_457">5</span>
        </div><div class="v121_471">
            <span class="v121_472">5</span>
        </div>
        <div class="v121_482">
            <span class="v121_483">5</span>
        </div>
        <div class="v121_475">
            <span class="v121_476">5</span>
        </div>
        <!-- <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div> -->
        <div class="v121_461">
            <div class="v121_459"></div>
            <div class="v121_460"></div>
        </div>
        <div class="v121_462"></div>
        <div class="v121_463"></div>
        <div class="v121_464"></div>
        <div class="v121_465"></div>
        <span class="v121_466">원룸</span>
        <span class="v121_467">꼼꼼해요</span>
        <span class="v121_468">반려동물</span>
        <span class="v121_469">친절해요</span>
        <span class="v121_470">추가금 x</span>
        <span class="v121_302">나와의 매칭율 75%</span>
        <span class="v121_255">포장 이사</span>
        <span class="v121_485">포장 이사  </span>
        <span class="v121_478">차량만 이사 </span>
        <span class="v121_257">친절하고 신속하고 기분 좋았습니다! 아침 일찍이 이사하느라 많이 피곤하실텐데도 시간 전에 도착하셔서 웃는 얼굴로 이사짐을 빠르게 운반해주셨어요! </span>
        <span class="v121_486">매우 만족스러웠습니다! 가구 훼손되지 않게 신경써주시고 세탁기 위치도 잘 봐주셔서 감사했습니다! 일찍 오셔서 대기해주시고 열심히해주셔서 만족스러웠습니다.</span>
        <span class="v121_479">차량만 이사였는데 기사님께서 방문 앞까지 짐 함께 옮겨주셨어요. 정말 너무 감사했습니다! 심심하지 않게 얘기하면서 이동했습니다. 또 뵙고 싶습니다!</span>
        <span class="v121_256">2022. 07 </span>
        <span class="v121_487">2022. 07 </span>
        <span class="v121_480">2022. 07 </span>
        <span class="v121_488">280,000원</span>
        <div class="v121_489"></div>
        <span class="v121_490">기사님 매칭하기</span>
        <span class="v298_18">로그아웃</span>
    </div>
</body>
</html>